@page
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/final.png">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/main.js" defer></script>
    <title>AppSec Academy</title>
  </head>
  <body>
    <header>
      <nav class="container nav">
        <code style="display: flex; align-items: center; gap: 4px;">
          <img src="~/images/final.png" style="width: 30px;"/>
          <div class="logo">AppSec Academy</div>
        </code>
        <ul class="nav-links ul">
          <li style="display: inline-block;">
            <a href="https://buymeacoffee.com/romangrewal" target="_blank" style="display: block;">
              <img src="~/images/yellow-button.png" style="width: 150px; display: block;" />
            </a>
          </li>
          <li class="mail" style="margin-top: 7px;"><a href="mailto:roman.grewal@outlook.com">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="home" class="hero">
      <div class="container">
        <img src="~/images/final.png" style="width: 150px;"/>
        <h1 class="headline">APPLICATION SECURITY</h1>
        <p>- Start Your Journey Today -</p>
        <a href="https://github.com/romangrewal/appsec-academy" target="_blank" style="display: inline-block;">
          <img src="~/images/github10.png" alt="GitHub" style="width: 200px; display: block;"/>
        </a>
        <a href="https://discord.gg/DdrFpGYBnA" target="_blank" style="display: inline-block;">
          <img src="~/images/discord10.png" alt="Discord" style="width: 200px; display: block;"/>
        </a>
      </div>
    </section>

    <section id="features" class="features">
      <div class="container">
        <h2>Subscribe to our YouTube Channel</h2>
        <!--<div class="scroller" data-direction="right" data-speed="slow">
          <div id="youtube-feed" class="scroller__inner">
            <div class="loading">Loading latest videos...</div>
          </div>
        </div>-->
        <h2 class="featurestag"> Coming Soon!</h2>
      </div>
    </section>

    <footer>
      <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <span style="padding-top: 7px;">
            <a href="https://github.com/romangrewal/appsec-academy" target="_blank" style="display: inline-block; width: 30px;">
              <img src="~/images/githubcircle.png" style="display: block; width: 30px; border-radius: 50%; margin-right: 5px;"/>
            </a>
            <a href="https://discord.gg/DdrFpGYBnA" target="_blank" style="display: inline-block; width: 30px;">
              <img src="~/images/discord.jpg" style="width: 30px; border-radius: 50%; margin-right: 5px;"/>
            </a>
            <a href="https://www.youtube.com/@@itsRomanGrewal" target="_blank" style="display: inline-block; width: 30px;">
              <img src="~/images/yt.png" style="display: block; width: 30px; border-radius: 50%; margin-right: 5px;"/>
            </a>
          </span>
          <span>&copy; @DateTime.Now.Year AppSec Academy<span class="hideOnMobile">. All rights reserved.</span></span>
        </div>
      </div>
    </footer>
  </body>
</html>
